.li{
    display: flex;
    flex-direction: row;
}

.quadro{
    height: 100px;
    width: 75px;
    border: 1px solid lightgray;
    margin: 5px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1px 1px 10px;
}

.verde{
    background-color: #3F3;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.amarelo{
    background-color: rgb(251, 255, 0);
}


